form{
    position: static;
    margin: 0 auto;
    border-color: #DDDDDD;
    border: 0.5px solid #DDDDDD;
    border-radius: 3px;
    width: 340px;
    padding-left: 25px;
  
}
input{
    border-left-color: #DDDDDD;
    border-right-color: #DDDDDD;
    border-radius: 5px;
    border-width: 0.2px;
    height: 25px;
    width: 315px;
    margin-bottom: 15px;
  
}
.links{
    font-size: 10px;
    text-align: center;
    padding-left: 15px;
}
img{
    margin: auto;
    display: block;
    width: 340px;
}
button{
    margin-top: 10px;
    margin-bottom: 20px;
    width:315px;
    height:33px;
    font-size:14px;
    border: 0.5px solid #aaaaaa;
    border-radius:3px;
}
.SignInTxt{
    font-family: Arial, sans-serif;
    font-size: 26.5px;
}
.createAccount{
    margin-top: 30px;
}
.button2{
    background-color: #DDDDDD;
}
.button1{
    background: #ff9900;
}
h2 {
    color: rgb(134, 134, 134);
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 11.5px;
    width: 315px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-bottom: 5px;
 }